@page
@model BookingsModel
@using HotelAppLibrary
@{
     ViewData["Title"] = "Bookings";
     ViewData["ActivePage"] = ManageNavPages.Bookings;
}

<h1>Active Bookings</h1>
@{
    foreach(var booking in Model.Bookings)
        if(booking.CheckInDate.Date >= DateTime.Now.Date) //Because CheckInDate is 00:00:00 in time and DateTime is not so have to convert to only date portion
        {
            <p>
            @booking.Room.Type.Title
            </p>

            <form id="profile-form" method="post">
            <input asp-for="@booking.Id" name="bookingId" type="hidden"/>
              <button type="submit" class="w-100 btn btn-lg btn-primary">Unbook</button>    
            </form>
        }
}

<h2>Past Bookings</h2>
@{
    foreach(var booking in Model.Bookings)
        if(booking.CheckInDate < DateTime.Now)
        {
            <p>
            @booking.Room.Type.Title
            </p>
        }
}